.mediaViewInfo {
	--web-view-name: Web 1920 - strona_główna ;
	--web-view-id: Web_1920_-_strona_gwna_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920_-_strona_gwna_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920_-_strona_gwna_ {
	position: absolute;
	width: 1920px;
	height: 4583px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 - strona_główna ;
	--web-view-id: Web_1920_-_strona_gwna_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_467 {
	position: absolute;
	width: 1920px;
	height: 660px;
	left: 0px;
	top: 2923px;
	overflow: visible;
}
#box_dieta {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 624px;
	top: 231px;
	overflow: visible;
}
#Group_449 {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#ciasta_na_zamowienie_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#ciasta_na_zamwienie {
	left: 42px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_r {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 971px;
	top: 231px;
	overflow: visible;
}
#Group_449_s {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#ciasta_specjalne {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_u {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_u {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#specjalne {
	left: 106px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Poznaj_nasze_wypieki {
	left: 728px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 465px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -2px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#Rectangle_25 {
	fill: transparent;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 660px;
	left: 0px;
	top: 0px;
}
#Group_466 {
	position: absolute;
	width: 1920px;
	height: 1055px;
	left: 0px;
	top: 1933px;
	overflow: visible;
}
#Rectangle_679 {
	fill: transparent;
}
.Rectangle_679 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1055px;
	left: 0px;
	top: 0px;
}
#box_dieta_ {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 450px;
	top: 597px;
	overflow: visible;
}
#Group_449_ {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#ketogeniczna_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_ {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_ {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#ketogeniczna {
	left: 87px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_ba {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 450px;
	top: 196px;
	overflow: visible;
}
#Group_449_ba {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#fitsport_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_ba {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_ba {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#Fit__sport {
	left: 104px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_bb {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 797px;
	top: 196px;
	overflow: visible;
}
#Group_449_bb {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#wegetarianska_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_bd {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_bd {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#wegetariaska {
	left: 77px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_bf {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 1144px;
	top: 196px;
	overflow: visible;
}
#Group_449_bg {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#sirtfood_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_bi {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_bi {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#sirtfood {
	left: 115px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_bk {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 797px;
	top: 597px;
	overflow: visible;
}
#Group_449_bl {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#niskie_ig_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_bn {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_bn {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#Niskie_IG {
	left: 115px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#box_dieta_bp {
	position: absolute;
	width: 326px;
	height: 366px;
	left: 1144px;
	top: 597px;
	overflow: visible;
}
#Group_449_bq {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#specjalne_photo {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_33_bs {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_33_bs {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#specjalne_bt {
	left: 106px;
	top: 346px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Poznaj_nasze_diety {
	left: 755px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 411px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -2px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#background {
	position: absolute;
	width: 1920px;
	height: 1458px;
	left: 0px;
	top: 828px;
	overflow: visible;
}
#Rectangle_657 {
	fill: transparent;
}
.Rectangle_657 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 912px;
	left: 0px;
	top: 1081px;
}
#Group_202 {
	position: absolute;
	width: 1020px;
	height: 676px;
	left: 450px;
	top: 1212px;
	overflow: visible;
}
#Ellipse_22 {
	fill: rgba(255,255,255,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 185px;
	height: 185px;
	left: 0px;
	top: 222px;
}
#Kilka_sw_o_nas {
	left: 285px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 451px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -2px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#Swoj_przygod_z_gotowaniem_zacz {
	left: 65px;
	top: 530px;
	position: absolute;
	overflow: visible;
	width: 891px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Agnieszka_Ziajko-Jankowska {
	left: 355px;
	top: 594px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(134,188,37,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Mask_Group_8 {
	opacity: 0.6;
	position: absolute;
	width: 185px;
	height: 185px;
	left: 0px;
	top: 222px;
	overflow: visible;
}
#Mask_Group_9 {
	opacity: 0.6;
	position: absolute;
	width: 185px;
	height: 185px;
	left: 835px;
	top: 222px;
	overflow: visible;
}
#Group_204 {
	position: absolute;
	width: 45px;
	height: 11px;
	left: 488px;
	top: 665px;
	overflow: visible;
}
#slider_nav {
	position: absolute;
	width: 11px;
	height: 11px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_8 {
	fill: rgba(229,229,229,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 11px;
	height: 11px;
	left: 0px;
	top: 0px;
}
#slider_nav_b {
	position: absolute;
	width: 11px;
	height: 11px;
	left: 34px;
	top: 0px;
	overflow: visible;
}
#Ellipse_8_b {
	fill: rgba(229,229,229,1);
}
.Ellipse_8_b {
	position: absolute;
	overflow: visible;
	width: 11px;
	height: 11px;
	left: 0px;
	top: 0px;
}
#slider_nav_ca {
	position: absolute;
	width: 11px;
	height: 11px;
	left: 17px;
	top: 0px;
	overflow: visible;
}
#Ellipse_8_ca {
	fill: rgba(134,188,37,1);
}
.Ellipse_8_ca {
	position: absolute;
	overflow: visible;
	width: 11px;
	height: 11px;
	left: 0px;
	top: 0px;
}
#Group_201 {
	position: absolute;
	width: 326px;
	height: 326px;
	left: 347px;
	top: 151px;
	overflow: visible;
}
#Mask_Group_2 {
	position: absolute;
	width: 303px;
	height: 303px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#Ellipse_11 {
	fill: transparent;
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 326px;
	left: 0px;
	top: 0px;
}
#Group_17 {
	opacity: 0.6;
	position: absolute;
	width: 185px;
	height: 185px;
	left: 0px;
	top: 222px;
	overflow: visible;
}
#Group_468 {
	position: absolute;
	width: 1920px;
	height: 1068px;
	left: 0px;
	top: 3434px;
	overflow: visible;
}
#Group_31 {
	position: absolute;
	width: 1920px;
	height: 944px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_30 {
	position: absolute;
	width: 1440px;
	height: 42px;
	left: 240.5px;
	top: 202px;
	overflow: visible;
}
#line_grey {
	position: absolute;
	width: 1440px;
	height: 1px;
	left: 0px;
	top: 14.5px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1442px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_17 {
	fill: rgba(255,255,255,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 42px;
	left: 659.5px;
	top: 0px;
}
#background_2 {
	position: absolute;
	width: 1920px;
	height: 944px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Component_13__1 {
	position: absolute;
	width: 149px;
	height: 19px;
	left: 1240px;
	top: 647px;
	overflow: visible;
}
#infoprzepislublinpl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(134,188,37,1);
}
#napisz_do_nas {
	left: 735px;
	top: 336px;
	position: absolute;
	overflow: visible;
	width: 451px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -2px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#Przepis_Agnieszka_Ziajko-Janko {
	left: 1240px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 233px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#box_kontakt {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 740px;
	top: 551px;
	overflow: visible;
}
#Mask_Group_6 {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#E-mail {
	opacity: 0.698;
	left: 19px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#box_kontakt_cu {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 740px;
	top: 499px;
	overflow: visible;
}
#Mask_Group_6_cv {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19_cw {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19_cw {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#Telefon {
	opacity: 0.698;
	left: 19px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#box_kontakt_cy {
	position: absolute;
	width: 440px;
	height: 129px;
	left: 740px;
	top: 603px;
	overflow: visible;
}
#Mask_Group_6_cz {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19_c {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19_c {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 129px;
	left: 0px;
	top: 0px;
}
#Wiadomo {
	opacity: 0.698;
	left: 19px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Zgodnie_z_art_13_ust_1_oglnego {
	left: 773px;
	top: 741px;
	position: absolute;
	overflow: visible;
	width: 408px;
	height: 47px;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(182,182,182,1);
}
#Component_1__16 {
	position: absolute;
	width: 120px;
	height: 39px;
	left: 900px;
	top: 820px;
	overflow: visible;
}
#Rectangle_2 {
	opacity: 0.997;
	fill: rgba(255,255,255,1);
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#Wylij {
	left: 27px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(134,188,37,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Group_32 {
	position: absolute;
	width: 1440px;
	height: 1px;
	left: 240.5px;
	top: 938px;
	overflow: visible;
}
#line_grey_c {
	position: absolute;
	width: 1440px;
	height: 1px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_1_c {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_c {
	overflow: visible;
	position: absolute;
	width: 1442px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Na_naszej_stronie_stosujemy_pl {
	left: 510px;
	top: 1006px;
	position: absolute;
	overflow: visible;
	width: 868px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(182,182,182,1);
}
#Group_37 {
	position: absolute;
	width: 92px;
	height: 39px;
	left: 1240px;
	top: 693px;
	overflow: visible;
}
#insta_icon {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Path_30 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30 {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_34 {
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 10.065px;
	top: 10.565px;
	overflow: visible;
}
#Path_31 {
	fill: rgba(112,112,112,1);
}
.Path_31 {
	overflow: visible;
	position: absolute;
	width: 9.689px;
	height: 9.689px;
	left: 4.59px;
	top: 4.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
	fill: rgba(112,112,112,1);
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
	fill: rgba(112,112,112,1);
}
.Path_33 {
	overflow: visible;
	position: absolute;
	width: 2.264px;
	height: 2.265px;
	left: 13.339px;
	top: 3.267px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook_icon {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_30_di {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30_di {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
	fill: rgba(112,112,112,1);
}
.Path_34 {
	overflow: visible;
	position: absolute;
	width: 9.018px;
	height: 18.035px;
	left: 14.991px;
	top: 10.483px;
	transform: matrix(1,0,0,1,0,0);
}
#box_kontakt_dk {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 740px;
	top: 741px;
	overflow: visible;
}
#Mask_Group_6_dl {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19_dm {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19_dm {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#box_kontakt_dn {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 740px;
	top: 447px;
	overflow: visible;
}
#Mask_Group_6_do {
	position: absolute;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_19_dp {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19_dp {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#Imi_i_nazwisko {
	opacity: 0.698;
	left: 19px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#photo_top {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#zdrowe_posiki_specjalnie_dla_C {
	left: 653px;
	top: 384px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 55px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#Jeli_lubisz_je_zdrowo_korzysta {
	left: 451px;
	top: 564px;
	position: absolute;
	overflow: visible;
	width: 1019px;
	height: 53px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Component_1__7 {
	position: absolute;
	width: 192px;
	height: 39px;
	left: 863px;
	top: 670px;
	overflow: visible;
}
#Rectangle_2_dv {
	opacity: 0.997;
	fill: rgba(255,255,255,1);
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_dv {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#zobacz_ofert {
	left: 27px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: center;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(134,188,37,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#sticky_menu {
	position: fixed;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_35 {
	fill: rgba(255,255,255,1);
}
.Path_35 {
	filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.09));
	overflow: visible;
	position: absolute;
	width: 1944px;
	height: 99px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_small {
	position: absolute;
	width: 50.213px;
	height: 50.049px;
	left: 934.893px;
	top: 13.09px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 45.372px;
	height: 33.052px;
	left: 0px;
	top: 8.498px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 4.953px;
	height: 26.091px;
	left: 14.224px;
	top: 4.32px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(134,188,37,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 4.953px;
	height: 26.091px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2 {
	position: absolute;
	width: 5.312px;
	height: 25.987px;
	left: 0px;
	top: 7.064px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(134,188,37,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 5.312px;
	height: 25.987px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
	position: absolute;
	width: 5.313px;
	height: 25.987px;
	left: 28.391px;
	top: 2.057px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(134,188,37,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 5.313px;
	height: 25.987px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 5.312px;
	height: 25.987px;
	left: 7.452px;
	top: 5.75px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(134,188,37,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 5.312px;
	height: 25.987px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_5 {
	position: absolute;
	width: 5.313px;
	height: 25.863px;
	left: 20.781px;
	top: 3.271px;
	overflow: visible;
}
#Path_5 {
	fill: rgba(134,188,37,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 5.313px;
	height: 25.863px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
	position: absolute;
	width: 1.759px;
	height: 25.794px;
	left: 36.001px;
	top: 0.91px;
	overflow: visible;
}
#Path_6 {
	fill: rgba(134,188,37,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 1.759px;
	height: 25.794px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
	position: absolute;
	width: 5.312px;
	height: 25.735px;
	left: 40.06px;
	top: 0px;
	overflow: visible;
}
#Path_7 {
	fill: rgba(134,188,37,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 5.312px;
	height: 25.735px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
	position: absolute;
	width: 3.52px;
	height: 3.521px;
	left: 46.694px;
	top: 5.739px;
	overflow: visible;
}
#Path_8 {
	fill: rgba(134,188,37,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 3.52px;
	height: 3.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
	position: absolute;
	width: 39.953px;
	height: 14.011px;
	left: 4.811px;
	top: 36.038px;
	overflow: visible;
}
#Path_9 {
	fill: rgba(0,0,0,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 39.953px;
	height: 14.011px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
	position: absolute;
	width: 37.902px;
	height: 13.441px;
	left: 0.924px;
	top: 0px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(0,0,0,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 37.902px;
	height: 13.441px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_61 {
	position: absolute;
	width: 1447px;
	height: 48px;
	left: 239px;
	top: 10px;
	overflow: visible;
}
#Component_2__33 {
	position: absolute;
	width: 62px;
	height: 28px;
	left: 0px;
	top: 18px;
	overflow: visible;
}
#Start {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__34 {
	position: absolute;
	width: 58px;
	height: 28px;
	left: 104px;
	top: 19px;
	overflow: visible;
}
#O_nas {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__35 {
	position: absolute;
	width: 93px;
	height: 28px;
	left: 317px;
	top: 18px;
	overflow: visible;
}
#Kontakt {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__36 {
	position: absolute;
	width: 70px;
	height: 19px;
	left: 205px;
	top: 20px;
	overflow: visible;
}
#Oferta {
	left: 0px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#shopping {
	position: absolute;
	width: 47px;
	height: 48px;
	left: 1400px;
	top: 0px;
	overflow: visible;
}
#Ellipse_14 {
	fill: rgba(255,255,255,1);
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 9px;
}
#Path_29 {
	fill: rgba(134,188,37,1);
}
.Path_29 {
	overflow: visible;
	position: absolute;
	width: 17.015px;
	height: 20.557px;
	left: 10.993px;
	top: 17.128px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_16 {
	fill: rgba(0,0,0,1);
}
.Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 23px;
	top: 0px;
}
#ID2 {
	left: 32px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Group_36 {
	position: absolute;
	width: 92px;
	height: 39px;
	left: 1295px;
	top: 8px;
	overflow: visible;
}
#insta_icon_e {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Path_30_e {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30_e {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_34_e {
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 10.065px;
	top: 10.565px;
	overflow: visible;
}
#Path_31_e {
	fill: rgba(112,112,112,1);
}
.Path_31_e {
	overflow: visible;
	position: absolute;
	width: 9.689px;
	height: 9.69px;
	left: 4.59px;
	top: 4.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_32_e {
	fill: rgba(112,112,112,1);
}
.Path_32_e {
	overflow: visible;
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_33_e {
	fill: rgba(112,112,112,1);
}
.Path_33_e {
	overflow: visible;
	position: absolute;
	width: 2.264px;
	height: 2.264px;
	left: 13.339px;
	top: 3.266px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook_icon_e {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_30_fa {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30_fa {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_34_e {
	fill: rgba(112,112,112,1);
}
.Path_34_e {
	overflow: visible;
	position: absolute;
	width: 9.018px;
	height: 18.035px;
	left: 14.991px;
	top: 10.483px;
	transform: matrix(1,0,0,1,0,0);
}
#photo_top_e {
	position: absolute;
	width: 1920px;
	height: 328px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#phone {
	position: fixed;
	width: 77.7px;
	height: 77.7px;
	left: 1814.65px;
	top: 840.65px;
	overflow: visible;
}
#Path_36 {
	opacity: 0.2;
	fill: rgba(255,255,255,1);
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_36 {
	filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.09));
	overflow: visible;
	position: absolute;
	width: 101.701px;
	height: 101.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_20_fd {
	fill: url(#Rectangle_20_fd);
}
.Rectangle_20_fd {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 71px;
	left: 3.35px;
	top: 3.35px;
}
#Group_29 {
	position: absolute;
	width: 36.007px;
	height: 36.374px;
	left: 19.35px;
	top: 21.663px;
	overflow: visible;
}
#Group_26 {
	position: absolute;
	width: 33.89px;
	height: 33.943px;
	left: 0px;
	top: 2.431px;
	overflow: visible;
}
#Group_25 {
	position: absolute;
	width: 33.89px;
	height: 33.943px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 33.89px;
	height: 33.943px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_27 {
	position: absolute;
	width: 10.5px;
	height: 10.5px;
	left: 18.504px;
	top: 6.895px;
	overflow: visible;
}
#Path_21 {
	fill: rgba(255,255,255,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 10.5px;
	height: 10.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_28 {
	position: absolute;
	width: 17.024px;
	height: 17.028px;
	left: 18.983px;
	top: 0px;
	overflow: visible;
}
#Path_22 {
	fill: rgba(255,255,255,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 17.024px;
	height: 17.028px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo {
	position: absolute;
	width: 180.872px;
	height: 180.29px;
	left: 870px;
	top: 61.855px;
	overflow: visible;
}
#Group_8_fn {
	position: absolute;
	width: 163.432px;
	height: 119.058px;
	left: 0px;
	top: 30.614px;
	overflow: visible;
}
#Group_1_fo {
	position: absolute;
	width: 17.837px;
	height: 93.957px;
	left: 51.235px;
	top: 15.577px;
	overflow: visible;
}
#Path_1_fp {
	fill: rgba(134,188,37,1);
}
.Path_1_fp {
	overflow: visible;
	position: absolute;
	width: 17.837px;
	height: 93.957px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2_fq {
	position: absolute;
	width: 19.13px;
	height: 93.611px;
	left: 0px;
	top: 25.448px;
	overflow: visible;
}
#Path_2_fr {
	fill: rgba(134,188,37,1);
}
.Path_2_fr {
	overflow: visible;
	position: absolute;
	width: 19.13px;
	height: 93.611px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3_fs {
	position: absolute;
	width: 19.135px;
	height: 93.614px;
	left: 102.268px;
	top: 7.411px;
	overflow: visible;
}
#Path_3_ft {
	fill: rgba(134,188,37,1);
}
.Path_3_ft {
	overflow: visible;
	position: absolute;
	width: 19.135px;
	height: 93.614px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4_fu {
	position: absolute;
	width: 19.128px;
	height: 93.614px;
	left: 26.843px;
	top: 20.715px;
	overflow: visible;
}
#Path_4_fv {
	fill: rgba(134,188,37,1);
}
.Path_4_fv {
	overflow: visible;
	position: absolute;
	width: 19.128px;
	height: 93.614px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_5_fw {
	position: absolute;
	width: 19.129px;
	height: 93.165px;
	left: 74.861px;
	top: 11.784px;
	overflow: visible;
}
#Path_5_fx {
	fill: rgba(134,188,37,1);
}
.Path_5_fx {
	overflow: visible;
	position: absolute;
	width: 19.129px;
	height: 93.165px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_6_fy {
	position: absolute;
	width: 6.338px;
	height: 92.914px;
	left: 129.681px;
	top: 3.279px;
	overflow: visible;
}
#Path_6_fz {
	fill: rgba(134,188,37,1);
}
.Path_6_fz {
	overflow: visible;
	position: absolute;
	width: 6.338px;
	height: 92.914px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_f {
	position: absolute;
	width: 19.127px;
	height: 92.705px;
	left: 144.304px;
	top: 0px;
	overflow: visible;
}
#Path_7_f {
	fill: rgba(134,188,37,1);
}
.Path_7_f {
	overflow: visible;
	position: absolute;
	width: 19.127px;
	height: 92.705px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9_f {
	position: absolute;
	width: 12.854px;
	height: 12.667px;
	left: 168.018px;
	top: 20.686px;
	overflow: visible;
}
#Path_8_f {
	fill: rgba(134,188,37,1);
}
.Path_8_f {
	overflow: visible;
	position: absolute;
	width: 12.854px;
	height: 12.667px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_10_f {
	position: absolute;
	width: 143.92px;
	height: 50.467px;
	left: 17.325px;
	top: 129.822px;
	overflow: visible;
}
#Path_9_f {
	fill: rgba(0,0,0,1);
}
.Path_9_f {
	overflow: visible;
	position: absolute;
	width: 143.92px;
	height: 50.467px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11_f {
	position: absolute;
	width: 136.532px;
	height: 48.417px;
	left: 3.331px;
	top: 0px;
	overflow: visible;
}
#Path_10_f {
	fill: rgba(0,0,0,1);
}
.Path_10_f {
	overflow: visible;
	position: absolute;
	width: 136.532px;
	height: 48.417px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_38 {
	position: absolute;
	width: 1448px;
	height: 48px;
	left: 239px;
	top: 120px;
	overflow: visible;
}
#Group_36_f {
	position: absolute;
	width: 92px;
	height: 39px;
	left: 1295px;
	top: 9px;
	overflow: visible;
}
#insta_icon_ga {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Path_30_gb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30_gb {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_34_gc {
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 10.065px;
	top: 10.565px;
	overflow: visible;
}
#Path_31_gd {
	fill: rgba(112,112,112,1);
}
.Path_31_gd {
	overflow: visible;
	position: absolute;
	width: 9.689px;
	height: 9.69px;
	left: 4.59px;
	top: 4.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_32_ge {
	fill: rgba(112,112,112,1);
}
.Path_32_ge {
	overflow: visible;
	position: absolute;
	width: 18.87px;
	height: 18.87px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_33_gf {
	fill: rgba(112,112,112,1);
}
.Path_33_gf {
	overflow: visible;
	position: absolute;
	width: 2.264px;
	height: 2.264px;
	left: 13.339px;
	top: 3.266px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook_icon_gg {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_30_gh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_30_gh {
	overflow: visible;
	position: absolute;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_34_gi {
	fill: rgba(112,112,112,1);
}
.Path_34_gi {
	overflow: visible;
	position: absolute;
	width: 9.018px;
	height: 18.035px;
	left: 14.991px;
	top: 10.483px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_2__2 {
	position: absolute;
	width: 62px;
	height: 28px;
	left: 0px;
	top: 19px;
	overflow: visible;
}
#Start_gk {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__5 {
	position: absolute;
	width: 58px;
	height: 28px;
	left: 104px;
	top: 20px;
	overflow: visible;
}
#O_nas_gm {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__1 {
	position: absolute;
	width: 93px;
	height: 28px;
	left: 317px;
	top: 19px;
	overflow: visible;
}
#Kontakt_go {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#Component_2__6 {
	position: absolute;
	width: 66px;
	height: 18px;
	left: 205px;
	top: 22px;
	overflow: visible;
}
#Oferta_gq {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Kulturista;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.9px;
	text-transform: uppercase;
}
#shopping_gr {
	position: absolute;
	width: 47px;
	height: 48px;
	left: 1401px;
	top: 0px;
	overflow: visible;
}
#Ellipse_14_gs {
	fill: rgba(255,255,255,1);
	stroke: rgba(134,188,37,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_14_gs {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 9px;
}
#Path_29_gt {
	fill: rgba(134,188,37,1);
}
.Path_29_gt {
	overflow: visible;
	position: absolute;
	width: 17.015px;
	height: 20.557px;
	left: 10.993px;
	top: 17.128px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_16_gu {
	fill: rgba(0,0,0,1);
}
.Ellipse_16_gu {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 23px;
	top: 0px;
}
#ID2_gv {
	left: 32px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}