.form-section{
    width:100%;
    position: relative;
    padding-bottom: 70px;
}

.form-section-inner{
    display: inline;
}

.form-section-inner::before{
    content: ' ';
    display: inline-block;
    width: 100%;
    padding-top: 100px;
    max-width: 1410px;
    border-top: 2px solid #dee2e6;

}
.form-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.containt-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px !important;
    line-height: 1.4;
}

.containt-info p{
    margin: 0;
    line-height: 1.5;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input,textarea{
    width: 100%;
    max-width: 450px;
    padding: 10px;
    font-weight: 300;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto';
    transition: all .3s ease;
    font-size: 16px;
}


label{
    width: 100%;
}

input:not(:last-child){
    margin-bottom: 10px;
    height: 48px;
}



.form-section-inner::after{
    background-image: url(../assets/anim/anim12.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #fff;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 120px;

}

.form .input:hover{
    border-color: #86bc25;
}

textarea{
    resize: none;
}

.btn-submit{
    margin-top: 36px;
    margin-bottom: 10px;
}

.custom-label input{
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
    width: fit-content;
}

.custom-label{
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: .8em !important;
    color: #b6b6b6;
    display: flex;
    text-align: left;
}

.form-container>*{
    padding: 0 15px;
}

.background-form-icons {
    position: absolute;
    z-index: -1;
    /* top: 0; */
    left: 0;
    height: 100%;
    width: 100%;
}

.anim-form-1{
    position: absolute;
    top: -115px;
    left: 23%;
    transform: scale(.5);
}
.anim-form-2{
    position: absolute;
    top: 40px;
    left: 14%;
    transform: scale(.5);
}
.anim-form-3{
    position: absolute;
    top: 310px;
    left: 21%;
    transform: scale(.5);
}


/* checkbox */
/* The container */
.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
    border-color: #86bc25;
}

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    transition: all .3s ease;
}
  
  /* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
    background-color: #86bc25;
    border: 2px solid #86bc25;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-container div {
    height: 41px;
    position: relative;
    margin: 0 5px;
    margin-top: 10px;
}

.btn-container{
      display: flex;
}


  @media  screen and (max-width: 769px) {
    .form-container{
        grid-template-columns: 1fr;
    }


    .containt-info{
        padding-top: 30px;
        text-align: center;
        align-items: center;
        padding-left: 15px !important;
    }
  }