.navbar-fixed {
    height: 75px;
    background-color: #fff;
    position: fixed;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px -8px rgb(0 0 0 / 25%);
    transition: all .4s;
}

.navbar-fixed>.main-nav{
    height: 100%;
}

.navbar-fixed .logo{
    display: flex;
    align-items: center;
}

.navbar-fixed ul{
    list-style: none;
}