.App {
  text-align: center;
}

.main-content-container{
  position: relative;
  padding: 0 15px;
  margin: 0 46px;
}

@media screen and (max-width: 500px) {
  .main-content-container{
    margin: 0;
  }
}